language: objective-c
osx_image: xcode10.1
xcode_project: NightlyTest.xcodeproj
xcode_scheme: NightlyTest
xcode_sdk: iphonesimulator12.1
script:
 - xcodebuild -project NightlyTest.xcodeproj -scheme NightlyTest -sdk iphonesimulator
